// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: map-get($icon-home, 'width');
// }
//
// At the bottom of this section, we provide information about the spritesheet itself
$i-fb: (
  name: 'i_fb',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 14px,
  height: 29px,
  total-width: 32px,
  total-height: 146px,
  image: '../images/icon.png'
);
$i-line: (
  name: 'i_line',
  x: 0px,
  y: 39px,
  offset-x: 0px,
  offset-y: -39px,
  width: 30px,
  height: 29px,
  total-width: 32px,
  total-height: 146px,
  image: '../images/icon.png'
);
$i-twitter: (
  name: 'i_twitter',
  x: 0px,
  y: 78px,
  offset-x: 0px,
  offset-y: -78px,
  width: 28px,
  height: 29px,
  total-width: 32px,
  total-height: 146px,
  image: '../images/icon.png'
);
$i-wechat: (
  name: 'i_wechat',
  x: 0px,
  y: 117px,
  offset-x: 0px,
  offset-y: -117px,
  width: 32px,
  height: 29px,
  total-width: 32px,
  total-height: 146px,
  image: '../images/icon.png'
);
$spritesheet: (
  width: 32px,
  height: 146px,
  image: '../images/icon.png',
  sprites: ($i-fb, $i-line, $i-twitter, $i-wechat, )
);


// 支援rwd
// rem已在外有做好函式 所以可以直接引用 函式如下
// @function rem($target, $context: 16px){
//    @if $target == 0 { @return 0 }
//    @return ($target / $context)+ 0rem;
//  }
// css
// .edit {
//  @include sprite($edit);
// }
// html
// <i class="edit"></i>



.icon{ background: inline('../images/icon.png'); }
@mixin sprite($sprite){
  $icon-width: map-get($sprite, 'width');
  $icon-height: map-get($sprite, 'height');
  //$sprite-map: url(map-get($sprite, 'image'));
  //$sprite-map: inline(map-get($sprite, 'image'));
  $sprite-width: map-get($sprite, 'total-width');
  $sprite-height: map-get($sprite, 'total-height');
  $space-top: map-get($sprite, 'offset-y');

  width: rem($icon-width);
  height: rem($icon-height);
  display: block;
  //background: $sprite-map;
  background-size: percentage($sprite-width / $icon-width)  percentage($sprite-height / $icon-height);
  background-position: 0 percentage(-1 * $space-top / ($sprite-height - $icon-height)); 
}


