@import "_reset.scss";
// @import "_var.scss";
@import "_function.scss";
@import "_extend.scss";
@import "_mixin.scss";
@import "breakpoint";

html,body {
	-webkit-text-size-adjust: 100%;
	font-family: "Microsoft JhengHei", "Apple LiGothic Medium", "sans-serif", "serif";
	color: #000;
	font-size: 16px;
}


@include breakpoint(max-width 980px) {
	body {
		background-color: blue;
	}
}